 .u-section-1 {
  background-image: url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 952px;
}

.u-section-1 .u-image-1 {
  --radius: 38px;
  width: 287px;
  height: 287px;
  filter: brightness(0.75);
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 189px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 60px;
}